.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
}
.logo-header img{
    width: 120px;
}

.nav-items {
    flex-wrap: wrap;
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    margin: 0 10px;
}

.nav-items img {
    margin-right: 520px;
}

.nav-items li{
    margin-left: 18px;
}

.active-link {
    border-bottom: 1px solid white;
}

nav a:hover {
    color: purple;
}


ul {
    list-style-type: none;

}

ul li {
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color: white;
}